body {
    max-width: 1024px;  
   }
.wrapper{
    margin: 1rem;
    padding: 0rem;
    background: gray;
    font-family: Open sans-serif;
      }
.legend {
    font-weight: lighter;
    }
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
}
.first_last, .Phone_Email, .Friend_Date{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
 }
#input_name, #input_last, 
#input_email, #input_phone,
#input-friends, #input-date {
     width: 18rem;
    height: 25%;
    outline: none;
 }
.input{
    margin: 0 20px;   
}
#input-friends{
    width: 18rem;
    height: 25%;
}
#input-date{
    width: 18rem;
    height: 30%;
}
#register{
    width: 10rem;
    height: 25%;
    outline: none;
}
label.required:after {
    color: red;
    content: " *"
}
p.required:after {
    color: red;
    content: " *"
}
.box_coordinates{
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.input_coordinates{
   
    justify-content: center;
}

.box_button{
    display: flex;
    align-items: center;
    justify-content: center;
 }
.box_img{
    display: flex;
    align-items: center;
    justify-content: center; 
}
.IMG{
    width: 100%;
}