.home{
margin-top: 20px;
background-color: rgb(204,153,255);  
font-size: 20px; 
padding: 20px;
background-image: url(../../assets/background_home.jpg) ;
background-size: 100%;
color: black;
/* text-shadow: 3px 3px 3px white; */

&__title{
    padding: 10px;
    background-color: rgba(201, 192, 180, 0.9);
    /* width: 280px; */
    border: 2px solid #7922CC;
    border-radius: 20px;
    /* opacity: 1; */
}

&__example_item{
        color: brown;
        padding: 10px;
        background-color: rgba(201, 192, 180, 0.8);
        border: 2px solid rgba(201, 192, 180, 0.705);
        border-radius: 20px; 
        width: 280px;
    }

&__example{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    

    /* div {
        margin-top: 10px;
        padding: 20px;
        color: brown;
    } */
}

ul{
    padding: 10px;
    background-color: rgba(201, 192, 180, 0.9);
    width: 280px;
    border: 2px solid #7922CC;
    border-radius: 20px;
}
li{
    list-style-type: none; 
}
span{
    font-weight: 700;
}
}


