@import '../style/color.scss';

.home{
margin-top: 20px;
background-color: $home_background_color;
font-size: 20px; 
padding: 20px;
background-image: url(../../assets/background_home.jpg) ;
background-size: 100%;
color: $home_text_color;

&__title{
    padding: 10px;
    margin-bottom: 20px;
    background-color: $title_background_color;
    border: 2px solid $border;
    border-radius: 20px;
    }

&__example_item{
        color: $example_item_text_color ;
        padding: 10px;
        margin-top: 20px ; 
        background-color: $example_item_background_color;
        border: 2px solid $example_item_border;
        border-radius: 20px; 
        width: 280px;
    }

&__example{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

ul{
    padding: 10px;
    background-color: $title_background_color;
    width: 280px;
    border: 2px solid $border;
    border-radius: 20px;
}
li{
    list-style-type: none; 
}
span{
    font-weight: 700;
}
}


