<div class="home">
    <div class="home__title">
        <p>This application will be interesting for those who like to learn and are interested in something new.</p>
        <p>Also you can create your own item and add it to your collection.</p>
    </div>

    <h3>For exmple:</h3>
    <div class="home__example">
        <ul>
            <span>Advice Card</span>
            <li> <span>activity:</span> Start a garden</li>
            <li><span>type:</span> recreational</li>
            <li><span>participants:</span> 1</li>
            <li><span>price:</span> 0.3</li>
            <li><span>link:</span> </li>
            <li><span>key:</span> 1934228</li>
            <li><span>accessibility:</span> 0.35</li>
        </ul>
        <div class="home__example_item">
            <li> <span>activity:</span> Content of activities.</li>
            <li><span>type:</span>Type of activities.</li>
            <li><span>participants:</span>How many people need for this type of activities.</li>
            <li><span>price:</span> How much does it cost. </li>
            <li><span>link:</span> Link if it need. </li>
            <li><span>key:</span> individual ID.</li>
            <li><span>accessibility:</span> How difficult is it. </li>

        </div>
    </div>

</div>
<!-- export class Advice {
    constructor(public activity: string,
      public type: string,
      public participants: number,
      public price: number,
      public link: string,
      public key: string,
      public accessibility: number) { }
  }
 -->