.home{
    margin-top: 20px;
background-color: rgb(236, 240, 189);  
font-size: 25px; 
padding: 20px;

&__example{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    div {
        margin-top: 10px;
        padding: 20px;
        color: brown;
    }
}

ul{
    padding: 10px;
    background-color: rgba(201, 192, 180, 0.705);
    width: 280px;
    border: 2px solid;
    border-radius: 5%;
}
li{
    list-style-type: none; 
}
span{
    font-weight: 700;
}
}


