@import url("./styles/reset.css");
@import url("./styles/font.css");
@import url("./styles/header-desktop.css");
@import url("./styles/intro-desktop.css");
@import url("./styles/cards-desktop.css");
@import url("./styles/product-desktop.css");
@import url("./styles/clients-desktop.css");
@import url("./styles/reviews-decktop.css");

html{
    box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body{
    font-family: 'Hind';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: black;
}
img{
  max-width: 100%;
  height: auto;
}



