.feetback{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: 25px;
    margin-top: 20px;
    background-color: rgb(236, 240, 189);
    padding: 20px;
&__name, &__feetback, &__rating, &__button{
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    margin-top: 20px;

    width: 200px;
}
    .textArea{
        height: 80px;
       
    }

    &__comments{
        
        margin-left: 80px;
        li{
        list-style-type: none;
        width: 808px;
        padding: 10px;
        /* border: 2px solid black;
        border-radius: 10%; */
        background-color: rgb(192, 201, 182);
        }
    }
}