.calendar{
    margin: 0 auto;
    display: flex;
    max-width: 1000px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
}

