.days{
    margin: 0 auto;
    padding: 10px;
    width: 480px;
    height: auto;
    background-color: rgb(120, 120, 122);
    margin-top: 2px;
   
}

.days__name{
color: white;
font-size: 30px;
display: flex;
flex-direction: row ;
display: flex;
justify-content: space-between;
align-items: center;
padding: 5px;
}

/* .days__name div:last-child{
opacity: 0.6;
} */

/* .days__name div:nth-child(1n + 6){
    color: hotpink;
    opacity: 0.6;
} */

.days__days{
   
}
.days__week{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    color: white;
    font-size: 30px; 
    padding: 5px;
}


.days__week div {
    width: 50px ; 
    height: 50px;
    padding: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.days_number:hover,
.days_number:focus,
.days_number:active{
    border: solid;
    border-width: 2px;
    border-color: rgb(179, 179, 179);

}
/* .days__week div:nth-child(1n + 6){
    color: hotpink;
    opacity: 0.6;
} */

.weekends {
    color: hotpink; 
} 


.current_day{
    background-color: rgb(185, 179, 179) 
}
.celebrate_day{
    color:red
}

.different_month{
    opacity: 0.5;
}

