
.head{
    display: flex;
    flex-direction: column;
    width: 980px;
    height: 200px;
    background-color: rgb(120, 120, 122);
    margin: 0 auto;
    padding: 10px;
  
    

}

.head__time_contaner{
       display: flex;
    
    align-items: flex-end;
    flex-direction: row;
    
   

}

.head__time{
    
    color: white;
    font-size: 100px;
   
}
.head__part_of_day{
    color: white;
    font-size: 50px;
    margin-left: 20px;
   
}

.head_full_data{
    margin-left: 20px;
    margin-top: 20px;
   color: white;
   font-size: 30px; 
}
.head_full_data:hover,
.head_full_data:focus,
.head_full_data:active{
    
    color: rgb(209, 208, 208);
}



 