@import '.././colors.scss' ;
@import '.././font-size.scss';
@import '.././mexins.scss' ;
@import '.././Inheritance.scss';

.settings{
    display: none;
    margin: 0 auto;
    padding: 10px;
    @include width-height(480px, 420px);
    background-color: $background-color;
    margin-top: 2px;
    font-size: $head-font-size - 10px;
    color: $font-color;
}
.settings div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.settings__back{
   
}
.settings_button{
    @include width-height(150px, 30px);
    margin-top: 20px;
    padding: 0 25px;
    background-color: $settings-button-color;
    font-size: $head-font-size - 16px;
}
.sittings__show_prev{
    color: $font-color;
 }
.setting__checkbox{
    @include width-height(20px, 20px);
  }

.settings__contaner{
}
.settings__list_contaner{
    display: flex; 
}
.settings__list_item{
    @include width-height(150px, 30px); 
    font-size: $head-font-size -12px;
}
.settings__list:last-child  {
 margin-left: 80px;   
 
}