.nav{
background-color: rgb(153, 102, 204);
min-height: 80px;
font-weight: 300;
    ul{
    width: 80%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;

    
}
    li{
    margin-left: 20px;
    color: rgb(142, 226, 105);
    list-style-type: none;
    font-size: 25px;

    .active{
        border: 2px solid white;
        border-radius: 20%;
   }
} 
    a:hover{
    color: white;
} 
    a{
    color: white;   
    padding: 10px 20px;
    text-decoration: none;
}



}

