<div class="nav">
 <ul>
    <li><a class="nav__home" 
        routerLink="/" 
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        >Home</a></li>
        
    <li><a class="nav__home" routerLink="/find" routerLinkActive="active">Find</a></li>
    <li><a class="nav__home" routerLink="/view" routerLinkActive="active">View</a></li>
    <li><a class="nav__home" routerLink="/create" routerLinkActive="active">Create</a></li>
    <li><a class="nav__home" routerLink="/about" routerLinkActive="active">About</a></li>
    <li><a class="nav__home" routerLink="/feetback" routerLinkActive="active">Feedback</a></li>
    
</ul>   
</div>


