.creat{
    margin-top: 20px;
    
    padding: 20px;
    background-color: rgb(204,153,255);
    background-image: url(../../assets/background_create.jpg) ;
    background-size: 100%;
    font-size: 25px;
    display: flex;
        flex-wrap: wrap;
        justify-content: flex-start; 
       /*  color: white; */
    
    &__contaner{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding-top: 40px;
        margin-left: 30px;

        /*  background-color: blanchedalmond; */
       
    }
    &__activity, &__type, &__participants,
    &__price, &__link, &__key,
    &__accessibility {
        margin-top: 10px;
        margin-right: 200px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 400px;

        
        }

        .creat__activity{
          /* background-color: rgb(95, 86, 86); */  
        }
        /* .creat__activity{
            
            background-color: transparent;
        } */

    input{
        color: black;
        background-color: rgb(213, 200, 219, 0.8);
        border-color: rgb(213, 200, 219, 0.8);
        border-radius: 5px;
        /* border: none; */
    }
} 

.created__element{
            margin-left: 20px;
            padding-top: 40px;
            display: flex;
            flex-wrap: wrap;
            
        }

        .created__element_title{
            display: inline-block;
            padding: 10px;
            background-color: rgb(192, 201, 182);
        border: 1px solid #7922CC;
        border-radius: 10px;
        }

        .creat__card{
            display: flex;
           flex-wrap: wrap;
           justify-content: flex-start;
           margin-left: 20px;
           word-break: break-all;
            div {
               margin-top: 10px;
               
               padding: 20px;
               color: black;
           }
             ul{
               padding: 10px;
               background-color: rgba(201, 192, 180, 0.8);
               width: 280px;
               border: 2px solid;
               border-radius: 5%;
           }
           li{
               list-style-type: none; 
           }
           span{
               font-weight: 700;
           }
      }

      
          button{
              margin-left: 80px;
          }


          button{
            font-size: 20px;
            color: white;
            padding: 15px 40px;
            margin-top: 20px;
            background-color: rgb(153, 102, 204, 0.8 );
            border: 2px solid #7922CC;
            border-radius: 10px ;
        }
        button:hover{
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
            transform: scale(1.2);
        }
        .creat__button_reset:hover{
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
            transform: scale(1.2);
        }
        
        .creat__button_preview[disabled] {
            pointer-events: none; 
             background-color: rgb(200, 198, 198);
        }

        .creat__button_preview:not([disabled]) {
            /* styles when the element is disabled */
            
            background-color: rgb(153, 102, 204, 0.8 );
        }

        .creat__button_preview:not([disabled]):hover {
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
            transform: scale(1.2);
        }
                     .creat__input, .creat__input{
              &.ng-invalid.ng-touched{
                  border-color: red;
              }
          }