.creat{
    margin-top: 20px;
    padding: 20px;
    background-color: rgb(236, 240, 189);
    font-size: 25px;
    display: flex;
        flex-wrap: wrap;
        justify-content: flex-start; 
    
    &__contaner{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        /*  background-color: blanchedalmond; */
       }
    &__activity, &__type, &__participants,
    &__price, &__link, &__key,
    &__accessibility {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 400px;
        }
    
} 

.created__element{
            margin-left: 100px;
        }

        .creat__card{
            display: flex;
           flex-wrap: wrap;
           justify-content: flex-start;
           margin-left: 20px;
           word-break: break-all;
            div {
               margin-top: 10px;
               padding: 20px;
               color: black;
           }
             ul{
               padding: 10px;
               background-color: rgba(201, 192, 180, 0.705);
               width: 280px;
               border: 2px solid;
               border-radius: 5%;
           }
           li{
               list-style-type: none; 
           }
           span{
               font-weight: 700;
           }
      }

      
          button{
              margin-left: 80px;
          }
      