/* You can add global styles to this file, and also import other style files */
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* @font-face {
    font-family: 'Snell Roundhand';
    font-style: normal;
    font-weight: 400;
    src: local(''), 
    url("./assets/Snell_Roundhand.ttf") format("ttf");
    font-weight:300;
  } */