.wrapper{
    max-width: 1140px;
    margin: 0 auto;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}


.home{
    z-index: 2;
    position: fixed;
    right: 3%;
    top: 93%;
    }
.home:hover, .home:active, 
.home:focus a{
    opacity: 0.5;
}
.home a{
    padding: 10px 10px;
    opacity: 0.7;
    color: white;
    background-color: black;
}
.top__link{
    text-decoration: none;
}



.header__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 35px;
    margin-bottom: 35px;
}
.header__list{
    display: flex;
    flex-wrap: wrap;
}
.header__item{
    margin-right: 40px;
    text-transform: uppercase;
}
.header__item:last-child{
    margin-right: 0;
}
.header__link{
    font-size: 12px;
    line-height: 24px;
    color: white;
   text-decoration: none;
}
.header__link:hover, .header__link:focus,
.header__link:active{
opacity: 0.50;
}
.header__line{
    opacity: 0.2;
  }