<div class="about">
    <ul> <h3>I've done this items : </h3> 
        <li>Creat components.</li>
        <li>Routing.</li>
        <li>Pipes:  date, currency with parameters. </li>
        <li>One-way binding.</li>
        <li>OnClick events (button)</li>
        <li>Find componets. GET request. API end pionts</li>
        <li>Pre-loader</li>
        <li>*ngIf</li>
        <li>ng Style</li>
        <li>FormsModule и директива NgModel</li>
        <li>Service provide date to componets</li>
        <li>Add text for Home page.</li>
        <li>Form for creating new card</li>
        <li>Provide date from component to servece</li>
        <li>Pre-loader between finding components</li>
        <li>Add style for advice card</li>
        <li>get value from function to service </li>
        <li>Cleaning input's fild </li>
        <li></li>
    </ul>
    <ul> <h3>future goals</h3>
        
        <li>function :   delete advice card</li>
        <li>function :   update advice card</li>
        <li>Deploy app Heroku/github</li>
        <li>Two-way binding</li>
        <li>Add someshing to Home page. Image, text</li>
        <li></li>
      </ul>
</div>

