<div class="about">
    <ul> <h3>I've done this items : </h3> 
        <li>Creat components.</li>
        <li>Routing.</li>
        <li>Pipes:  date, currency with parameters. </li>
        <li>One-way binding.</li>
        <li>OnClick events (button)</li>
        <li>Find componets. GET request. API end pionts</li>
        <li>Pre-loader</li>
        <li>*ngIf</li>
        <li></li>
    </ul>
    <ul> <h3>future goals</h3>
        <li>Two-way binding</li>
        <li>Pre-loader between finding components</li>
        <li>Add style for advice card</li>
        <li>Form for creating new card</li>
        <li>ng Style</li>

        <li>Add someshing to Home page. Image, text</li>

        
        
    </ul>
</div>

