.feedback{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: 25px;
    margin-top: 20px;
    background-color: rgb(204,153,255);
    background-image: url(../../assets/background_feedback.jpg) ;
    background-size: 100%;
    padding: 20px;
    font-size: 25px;
    min-height: 700px;

   

    &__form_contaner{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        /* width: auto; */
        /*  background-color: blanchedalmond; */


        .feedback__form{
           
            background-color: rgb(192, 201, 182);
            border: 1px solid #7922CC;
            border-radius: 10px;   
        }
       }


&__name, &__feedback, &__rating, &__button{
    input{
        max-width: 390px;
    }
      
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    margin-top: 20px;
    width: 200px;
}

&__feedback{
    max-width: 400px;
}


    .textArea{
        height: 80px;
       
    }

    &__comments{
        
        margin-left: 80px;
        li{
          list-style-type: none;  
        }
        span{
        
         display: inline-block;
        /* width: 808px; */
        padding: 10px;
        background-color: rgb(192, 201, 182);
        border: 1px solid #7922CC;
        border-radius: 10px;
        }
        
        .feedback__comments_title{
           /*  padding: 10px; */
        background-color: rgb(192, 201, 182);
        border: 1px solid #7922CC;
        border-radius: 10px;
        }
    }
}