<div class="feedback">
    <div class="feedback__form_contaner">
        <div class="feedback__name">
            <label>Autor name: </label>
            <input class="feedback__input" name="Author" [(ngModel)]="name" placeholder="Autor Name" />
        </div>
        <div class="feedback__feedback">
            <label>Feedback: </label>
            <textarea class="feedback__input textArea" name="Feedback" [(ngModel)]="message"
                placeholder="message"></textarea>
        </div>
        <div class="feedback__rating">
            <label>Rating</label>
            <select class="feedback__select" name="Rating" [(ngModel)]="rating">
                <option *ngFor="let value of values" [value]="value">
                    {{value}}
                </option>
            </select>
        </div>
        <div class="feedback__button">
            <button class="btn btn-default" (click)="addMessage()">Send message</button>
        </div>


    </div>


    <div class="feedback__comments">
        <h3>Feedback : </h3>
        <ul *ngFor="let message of messages">
            <li> <span>{{Date | date :'mediumDate' }}</span>
                <span [ngStyle]="{'font-weight':'bold'}"> {{ message.name}}: </span>
                {{message.message}} - ({{message.rating}})
            </li>
        </ul>
    </div>


</div>