<div class="feedback">
    <div class="feedback__form_contaner">
        <div class="feedback__name">
            <label >
                <span class="feedback__form">
                    <b> Author name:</b>
                </span>
                
                
                </label>
            <input class="feedback__input" name="Author" [(ngModel)]="name" placeholder="Autor Name" />
        </div>
        <div class="feedback__feedback">
            <label>Feedback: </label>
            <textarea class="feedback__input textArea" name="Feedback" [(ngModel)]="message"
                placeholder="message"></textarea>
        </div>
        <div class="feedback__rating">
            <label>Rating</label>
            <select class="feedback__select" name="Rating" [(ngModel)]="rating">
                <option *ngFor="let value of values" [value]="value">
                    {{value}}
                </option>
            </select>
        </div>
        <div class="feedback__button">
            <button class="btn btn-default" (click)="addMessage()">Send message</button>
        </div>


    </div>


    <div class="feedback__comments">
        <span class="feedback__comments_title">
        <b>  Feedback : </b>
         
        </span>
       
        <ul *ngFor="let message of messages">
            <li>
                
            <span><small>{{Date | date :'mediumDate' }}</small>
                <b [ngStyle]="{'font-weight':'bold'}"> {{ message.name}}: </b>
                {{message.message}} - <small>&#10084; {{message.rating}}</small> 
            </span>    
                
                
            </li>
        </ul>
    </div>


</div>