<div class="feedback">
    <div class="feedback__form_contaner">
        <div class="feedback__name">
            <label >
                <span class="feedback__form">
                    <b> Author name:</b>
                </span>
                
                
                </label>
            <input class="feedback__input" 
            name="Author" 
            [(ngModel)]="name"
             placeholder="Autor Name" 

            [class.invalid]='inputFormName.touched && inputFormName.invalid'  
            #inputFormName="ngModel"

            pattern="^[а-яА-ЯёЁa-zA-Z0-9]{1,20}$"
            required/>
        </div>
        <div class="feedback__feedback">
            <label class="feedback__form">Feedback: </label>
            <textarea class="feedback__input textArea" 
            name="Feedback" 
            [(ngModel)]="message"
            placeholder="message"

            [class.invalid]='inputFormMessage.touched && inputFormMessage.invalid'  
            #inputFormMessage="ngModel"

            pattern="^[а-яА-ЯёЁa-zA-Z0-9]{1,250}$"
            required
            ></textarea>
        </div>
        <div class="feedback__rating">
            <label class="feedback__form">Rating</label>
            <select class="feedback__select" name="Rating" [(ngModel)]="rating">
                <option *ngFor="let value of values" [value]="value">
                    {{value}}
                </option>
            </select>
        </div>
        <div class="feedback__button">
            <button 
            class="feedback__button_default" 
            (click)="addMessage()"
            
            [disabled]="inputFormName.touched && inputFormName.invalid
             || !name.length 
             || !message.length 
             || !rating.length
            " 
            
            
            >Send message</button>
        </div>


    </div>


    <div class="feedback__comments">
        <span class="feedback__comments_title">
        <b>  Feedback : </b>
         
        </span>
       
        <ul *ngFor="let message of messages">
            <li>
                
            <span><small>{{Date | date :'mediumDate' }}</small>
                <b [ngStyle]="{'font-weight':'bold'}"> {{ message.name}}: </b>
                {{message.message}} - <small>&#10084; {{message.rating}}</small> 
            </span>    
                
                
            </li>
        </ul>
    </div>


</div>