.feedback{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 25px;
    margin-top: 20px;
    background-color: rgb(204,153,255);
    background-image: url(../../assets/background_feedback.jpg) ;
    background-size: 100%;
    padding: 20px;
    font-size: 25px;
    min-height: 700px;

    &__button_default{
        font-size: 20px;
        color: white;
        padding: 10px 30px;
        background-color: rgb(153, 102, 204, 0.8 );
        border: 2px solid #7922CC;
        border-radius: 10px ;
     
    }
    
    &__button_default[disabled] {
        pointer-events: none; 
         background-color: rgb(200, 198, 198);
    }
    &__button_default:not([disabled]) {
        /* styles when the element is disabled */
        
        background-color: rgb(153, 102, 204, 0.8 );
    }

    &__input{
        margin-top: 20px;
     &.ng-invalid.ng-touched{
        border-color: red;   
    }


    
    
    }
    &__button_default:hover{
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        transform: scale(1.2);
     
    }

    &__form_contaner{
        margin-left: 50px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        max-width: 800px;

       /*   background-color: blanchedalmond; */


        .feedback__form{
           
            background-color: rgb(192, 201, 182);
            border: 1px solid #7922CC;
            border-radius: 10px;  
        
           /*  min-width: 800px;  */
        }
       }


       

&__name, &__feedback, &__rating, &__button{
    input, textarea, select{
        font-size: 20px;
        max-width: 500px;
        color: black;
        background-color: rgb(213, 200, 219, 0.8);
        border-color: rgb(213, 200, 219, 0.8);
        border: 1px solid #7922CC;
        border-radius: 5px;

        /* border: none; */
        
    }
      
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    margin-top: 20px;
    width: 200px;
}

&__feedback{
    max-width: 400px;
}


    .textArea{
        height: 80px;
       
    }
    textarea{
        max-height: 200px;
    }
    select{
      margin-top: 10px;  
    }

    &__comments{

        max-width: 500px;
        
        margin-left: 80px;
        li{
          list-style-type: none;  
        }
        span{
        
         display: inline-block;
        /* width: 808px; */
        padding: 10px;
        background-color: rgb(192, 201, 182);
        border: 1px solid #7922CC;
        border-radius: 10px;
        }
        
        .feedback__comments_title{
           /*  padding: 10px; */
           margin-top: 20px;
        background-color: rgb(192, 201, 182);
        border: 1px solid #7922CC;
        border-radius: 10px;
        }
    }

    

}