/* width 375px */

.header{
     position: fixed;
    top: 0;
    left: 0;
    max-width: 375px;
    height: 20px;
}

.header__nav{
    display: none;
}
.header__logo{
    margin-left: 20px;
    margin-bottom: 20px;
    
}
.header__line{
    display: none;
  }

.wrapper{
    max-width: 375px;
    margin: 0 auto;

}
.header__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    margin-left: -20px; 
    margin-top: -20px;
}
.header__logo-pic{
    max-width: 70px;
}
.header__logo-link{
    max-width: 50px;
}
/* .header__list{
    display: flex;
    flex-wrap: wrap;
} */
/* .header__item{
    margin-right: 40px;
    text-transform: uppercase;
} */
/* .header__item:last-child{
    margin-right: 0;
} */
/* .header__link{
    font-size: 12px;
    line-height: 24px;
    color: white;
    text-decoration: none;
} */
/* .header__link:hover, .header__link:focus,
.header__link:active{
opacity: 0.50;
} */
