<div class="view">
    <h3>Favorite cards : </h3>
     
<div *ngFor="let el of elem">
    {{el}}
</div>

<!-- <li *ngFor="let elem of comp.elems ; let i = index">
    <span >
         <strong>{{ i + 1 }} </strong> {{elem.title}}
    </span>
    <small>{{elem.date | date:'shortDate'}}</small>
    
</li> -->

<div class="view__card">
  <div *ngFor="let elements of viewing.elems ; let i = index">
    <ul>
        <div class="view__card_header">
          <span>Advice Card</span> 
          <button class="cross" 
          (click)="Reset(elements.key)"
          >&times;</button>  
        </div>
        
       <li> <span>activity:</span>{{elements.activity}} </li>
       <li><span>type:</span> {{elements.type}}</li>
       <li><span>participants:</span> {{elements.participants}}</li>
       <li><span>price:</span> {{elements.price}}</li>
       <li><span>link:</span> {{elements.link}} </li>
       <li><span>key:</span> {{elements.key}}</li>
       <li><span>accessibility:</span> {{elements.accessibility}}</li>
   </ul> 
</div>  
</div>


<!-- <span *ngFor="let elenetOfArray of viewingElement"
>{{elenetOfArray}}</span> -->

</div> 
