.view{
    margin-top: 20px;
    background-color: rgb(236, 240, 189);
    background-image: url(../../assets/background_view.jpg) ;
    background-size: 100%;
    font-size: 25px; 
    min-height: 700px;
    padding: 20px;


    .cross{
       /*  color:red;
        margin-left: 50px;
        border: solid 1px red;
        border-radius: 50%;
        padding: 10px; */
    font-size: 25px;
    color: red;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s all ;
    }
}



.view__card{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 20px;
    word-break: break-all;

    div {
        margin-top: 10px;
        padding: 20px;
        color: black;
    }

    ul{
        padding: 10px;
        background-color: rgba(201, 192, 180, 0.705);
        width: 280px;
        border: 2px solid;
        border-radius: 5%;
    }
    li{
        list-style-type: none; 
    }
    span{
        font-weight: 700;
      }
      .cross{
        font-size: 25px;
        color: red;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        transition: .3s all ;
      }

      .view__card_header{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
      }
}