.view{
    margin-top: 20px;
    background-color: rgb(204,153,255);
    background-image: url(../../assets/background_view.jpg) ;
    background-size: 100%;
    font-size: 25px; 
    min-height: 700px;
    padding: 20px;


    .cross{
    font-size: 25px;
    color: red;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s all ;
    }
}
.view__title{
    display: inline-block;
    margin-top: 10px;
    margin-left: 40px;
    
    padding: 15px;
    background-color: rgb(192, 201, 182);
    border: 1px solid #7922CC;
    border-radius: 10px;
  }

/* .view__card:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transform: scale(1.2);
} */


.view__card{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 20px;
    word-break: break-all;

    div {
        margin-top: 10px;
        padding: 20px;
        color: black;
    }

    ul{
        padding: 10px;
        background-color: rgba(201, 192, 180, 0.8);
        width: 280px;
        border: 2px solid #7922CC;
        border-radius: 5%;
    }
    ul:hover{
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        transform: scale(1.2);
    }
    li{
        list-style-type: none; 
    }
    span{
        font-weight: 700;
      }
      .cross{
        font-size: 25px;
        color: red;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        transition: .3s all ;
      }

      .view__card_header{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
      }
      
}