.advice{
    font-size: 25px;
    background-color: rgb(236, 240, 189);
    width:auto;
    margin-top: 20px;
    padding: 20px;
li{
   
    list-style-type: none;
}

}
.advice__hidden{
    font-size: 25px;
    background-color: rgb(236, 240, 189);  
    width:auto; 
    height: 800px;
    margin-top: 20px;
    padding: 5px;
    ul{
       
    }
    li{
         margin:   0 auto ;
           list-style-type: none;
    } 
    
button, li {
margin: 20px;

}

       
}

.find__card{
         display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: 20px;
        word-break: break-all;
         div {
            margin-top: 10px;
            padding: 20px;
            color: black;
        }
          ul{
            padding: 10px;
            background-color: rgba(201, 192, 180, 0.705);
            width: 280px;
            border: 2px solid;
            border-radius: 5%;
        }
        li{
            list-style-type: none; 
        }
        span{
            font-weight: 700;
        }
   }