.advice{
    font-size: 25px;
    background-color: rgb(204,153,255);
    background-image: url(../../assets/background_find_hidden.jpg) ;
    background-size: 100%;
    width:auto;
    margin-top: 20px;
    padding: 20px;
    
li{
   
    list-style-type: none;
}

button{
    font-size: 20px;
    color: white;
    padding: 15px 40px;
    background-color: rgb(153, 102, 204, 0.8 );
    border: 2px solid #7922CC;
    border-radius: 10px ;
}
button:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transform: scale(1.2);
}

}
.advice__hidden{
    font-size: 25px;
    background-color: rgb(236, 240, 189);  
    background-image: url(../../assets/background_find_hidden.jpg) ;
    background-size: 100%;
    width:auto; 
    height: 800px;
    margin-top: 20px;
    padding: 5px;
    ul{
       
    }
    li{
         margin:   0 auto ;
           list-style-type: none;
    } 
    
button, li {
margin: 20px;

}
button{
    font-size: 20px;
    color: white;
    padding: 15px 40px;
    background-color: rgb(153, 102, 204, 0.8 );
    border: 2px solid #7922CC;
    border-radius: 10px ;
}
button:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transform: scale(1.2);
}


       
}

.find__card{
         display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: 20px;
        word-break: break-all;
         div {
            margin-top: 10px;
            padding: 20px;
            color: black;
        }
          ul{
            padding: 10px;
            background-color: rgba(201, 192, 180, 0.8);
            width: 280px;
            border: 2px solid #7922CC;
            border-radius: 5%;
        }
        li{
            list-style-type: none; 
        }
        span{
            font-weight: 700;
        }
   }
   .advice__hidden_title{
       padding: 15px;
    background-color: rgb(192, 201, 182);
    border: 1px solid #7922CC;
    border-radius: 10px;
   }