/* Home */
$home_background_color: rgb(221, 82, 17);  
$home_text_color: black;
$example_item_text_color: brown;
$border: #7922CC;
$title_background_color: rgba(201, 192, 180, 0.9);
$example_item_background_color:rgba(201, 192, 180, 0.8);
$example_item_border: rgba(201, 192, 180, 0.705);
