.reviews__wrapper{
    max-width: 768px;
    margin-top: 80px;
    margin-left: 20px;
    margin-bottom: 80px;
}
.reviews__title{
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    margin-bottom: 20px;
}
.reviews__text-first,
.reviews__text-second{
    font-size: 8px;
    font-weight: 500;
    line-height: 12px;
    margin-left: 20px;
    margin-bottom: 20px;
    max-width: 320px;
}
.reviews__text-first:before{
    content: ' "'; 
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
    color: blue;
    position: absolute;
    margin-top: 15px;
    margin-left: -35px;
}

.reviews__autor{
    margin-left: 40px;
}
.reviews__autor-name{
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
}
.reviews__autor-job{
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
}