.showcase__wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    margin-left: 0px;
    margin-bottom: 20px;
    max-width: 768px;
    
}
.showcase__item-description{
    margin-top: 180px;
    margin-left: 10px;
    max-width: 650px;
    margin-bottom: 20px;
}
.showcase__item-description:nth-child(3){
    max-width: 200px;
}
.showcase__item-title{
    font-size: 16px;
    font-weight: 700;
    line-height: 12px;
    margin-bottom: 20px;
}
.showcase__item-text{
    font-size: 8px;
    font-weight: 500;
    line-height: 12px;
    max-width: 600px;
    margin-bottom: 10px;
}
.showcase__item-image{
    /* margin-left: 5px; */
    overflow: hidden;
    max-width: 100%;
    /* height: 500px;  */
    margin-bottom: -150px;
    
}
.showecase__item-pic{
   max-width: 100%;
}